header{
    background: rgb(69, 84, 170);
    nav{
        max-width: 980px;
        margin: 0 auto;
        height: 60px;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            li{
                &:last-child
            }
        }
    }
}