@import "./_header";
@import "./_footer";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: #333;
  background: #333;
  font-family: "roboto";
}

main {
  background: #fff;
  height: calc(100vh - #{$header-height} - #{$footer_height});
  .mv_images{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      .
    }
  }
}

