@import "./_header";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  // height: 100%;
}

body {
  color: #333;
  background: #333;
  font-family: "roboto";
  height: 100%;
}

main {
  background: #fff;
  position: relative;
  height: auto;
  min-height: 100%;
}
